{% extends "budget_app/base.html" %}

{% block page_header %}
    <div class="jumbotron mt-4">
        <h1>Pythonic Purse</h1>
        <p class="lead">A python budget application</p>
        <hr class="my-6">
        <p>Intelligent Budgeting. Python-Powered</p>
      </div>
{% endblock page_header %}

{% block content %}
<h2>This Budget App will help you achieve the goals you're working toward. Hopefully it will give you an action plan of where your money is going.</h2>

{% endblock content %}